.auth {
  margin: auto;
  width: 95%;
  max-width: 25rem;
  border-radius: 6px;
  background-color: #304430;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  text-align: center;
}

.auth h1 {
  text-align: center;
  color: white;
}

.control {
  margin-bottom: 0.5rem;
  position: relative;
}

.control label {
  display: block;
  color: white;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.control input {
  font: inherit;
  background-color: #f1e1fc;
  color: #022b1e;
  border-radius: 4px;
  border: 1px solid white;
  width: 100%;
  text-align: left;
  padding: 0.25rem;
}

.actions {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.actions button {
  cursor: pointer;
  font: inherit;
  color: white;
  background-color: #507d2a;
  border: 1px solid #507d2a;
  border-radius: 4px;
  padding: 0.5rem 2.5rem;
}

.actions button:hover {
  background-color: #2a7a3b;
  border: 1px solid #2a7a3b;
}

.actions button:disabled {
  background-color: #9e97a3;
  border-color: #9e97a3;
  cursor: not-allowed;
}

.actions .toggle {
  margin-top: 1rem;
  background-color: transparent;
  color: #9f5ccc;
  border: none;
  padding: 0.15rem 1.5rem;
}

.actions .toggle:hover {
  background-color: transparent;
  color: #ae82cc;
}

.actions a {
  text-decoration: none;
  color: white;
}

.actions a:hover {
  text-decoration: none;
  color: #1ba354;
}

.errorText {
  color: red;
  font-size: 0.8rem;
}

.closeButton {
  position: absolute;
  top: 10%;
  right: 5%;
  background-color: red;
}

.iconDone {
  color: green;
  font-weight: 900;
  font-size: 1.2rem;
  position: absolute;
  right: 2%;
  bottom: 10%;
}
